body{
    font-family: 'Orelega One', cursive;
}
h2{
    margin-left: 25px;
}
#coins{
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.coin{
    height: 85px;
    width: 85px;
    background-color: #c5c5c5;
    border-radius: 85px;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.Penny{
    background-color: #b87333;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.Dime{
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-color: rgb(160, 160, 160)

}
.Nickel{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: #727472;
}

#coinForm{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 25px;
}
#button{
    width: 150px;
    height: 30px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}